<h1>Places</h1>

<p>Here are all the places you've been:</p>

<div class="list">
  <ul>
    <% @places.each() do |place| %>
    <li><%= place.description() %></li>
    <% end %>
  </ul>
</div>

<p>Enter a new place:</p>

<div class="form-group">
  <form action="/places" method="post">
    <label for="description">Place name</label>
    <input id="description" name="description" type="text" autofocus required>

    <button type="submit">Add place</button>
  </form>
</div>

<div class="resetbtn">
  <form action="/" method="post">
    <button type="submit">Clear the list</button>
  </form>
</div>
