<h1>Places</h1>

<p>Here are all the places you've been:</p>

<ul>
  <% @places.each() do |place| %>
  <li><%= place.description() %></li>
  <% end %>
</ul>

<p>Enter a new place:</p>

<form action="/places" method="post">
  <label for="description">Place name</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add place</button>
</form>
